<h1>New Animals</h1>

<form action="/animals" method="post">

  <label for="animal_name">Animal Name</label>
  <input id="animal_name" name="animal[name]" type="text">

  <button>Create animal</button>
</form>
